<h1>Edit a recipe</h1>

<form action = '/recipes/<%= @recipe.id%>' method = 'post'>
<input type = 'hidden' name = '_method' value = 'put'>

<div>
<label for="Recipes"> Name </label>
<input type="text" name="name" id="Recipes" value=<%= @recipe.name%>>
</div>

<div>
<label for="desc"> Description </label>
<textarea row='5' col="25" name="desc" id="desc"><%= @recipe.description%></textarea>
</div>

<div>
<label for="prepTime"> Prep-Time</label>
<input type="number" name= "prepTime" id="prepTime" value=<%= @recipe.prep_time%>> 
</div>

<div>
<label for="url"> Image URL </label>
<input type="url" name="url" id="url" value=<%= @recipe.image%>>
</div>

<input type="submit" value= "Edit Recipe">
</form>